:root {
  --active-states: #4d5ae5;
  --main-text-color: #434455;
  --headings-text-color: #2e2f42;
  --helper-text-color: #8e8f99;
  --button-bg-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --overlays-color: #2e2f42;
  --overlays-scdr-color: #f4f4fd;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

/* RESET */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: var(--main-text-color);
  background-color: #ffffff;
}
/* Header */
.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-states);
}
.accent {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--overlays-color);
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlays-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--active-states);
}
.header-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--active-states);
}
.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--active-states);
}

/* Hero */
.hero {
  background-color: var(--overlays-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* Products */
.products-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}

/* Our Team */
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}
.team {
  background-color: var(--overlays-scdr-color);
}
.team-list {
  background-color: #ffffff;
}
/* Buttons */
.button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-states);
  background-color: var(--button-bg-color);
  cursor: pointer;
}
.button.primary {
  line-height: 1.19;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--active-states);
  color: #ffffff;
}
.button.secondary {
  line-height: 1.5;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--active-states);
  color: #ffffff;
}

/* Subtitle */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}

/* DESCRIPTION */
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: var(--overlays-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlays-scdr-color);
}
.accent-footer {
  color: var(--overlays-scdr-color);
}

/* PAGE PORTFOLIO */
